<a href="https://colab.research.google.com/github/pernudinathen-netizen/Nathen_INFO4670_Spring2026/blob/main/Assignment_2_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1. Data Quality Check

1.1 Using Python (pandas, matplotlib, or seaborn), load and inspect the Assignment 2 dataset.

In [1]:
# Write your code here

from google.colab import files
uploaded = files.upload()

Saving Assignment 2 dataset.csv to Assignment 2 dataset.csv

Write code to explore the data distribution (e.g., region, type, year) and check whether there is any bias. Provide both the code and your interpretation.

In [2]:
# Write your code here
# I believe there might be some bias. However, overall there is a pretty good balance on the regions and type. The year is slightly biased, with more observations in 2015-2017, with 2018 being significantly lower. Also there is an outlier of 1904 for one of the data entries.
import pandas as pd

df = pd.read_csv("Assignment 2 dataset.csv")

print(df.head())
print(df.info())
print(df.describe())
print(df['region'].value_counts())
print(df['type'].value_counts())
print(df['year'].value_counts())

   Column 1        Date  AveragePrice  Total Volume     4046       4225  \
0         0  12-27-2015          1.33      64236.62  1036.74   54454.85
1         1  12-20-2015          1.35      54876.98   674.28   44638.81
2         2  12-13-2015          0.93     118220.22   794.70  109149.67
3         3   12-6-2015          1.08      78992.15  1132.00   71976.41
4         4  11-29-2015          1.28      51039.60   941.48   43838.39

     4770  Total Bags  Small Bags  Large Bags  XLarge Bags          type  \
0   48.16     8696.87     8603.62       93.25          0.0  conventional
1   58.33     9505.56     9408.07       97.49          0.0  conventional
2  130.50     8145.35     8042.21      103.14          0.0  conventional
3   72.58     5811.16     5677.40      133.76          0.0  conventional
4   75.78     6183.95     5986.26      197.69          0.0  conventional

   year  region
0  2015  Albany
1  2015  Albany
2  2015  Albany
3  2015  Albany
4  2015  Albany
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18254 entries, 0 to 18253
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Column 1      18254 non-null  int64
 1   Date          18254 non-null  object
 2   AveragePrice  18254 non-null  float64
 3   Total Volume  18253 non-null  float64
 4   4046          18252 non-null  float64
 5   4225          18253 non-null  float64
 6   4770          18253 non-null  float64
 7   Total Bags    18253 non-null  float64
 8   Small Bags    18252 non-null  float64
 9   Large Bags    18252 non-null  float64
 10  XLarge Bags   18253 non-null  float64
 11  type          18253 non-null  object
 12  year          18254 non-null  int64
 13  region        18254 non-null  object
dtypes: float64(9), int64(2), object(3)
memory usage: 1.9+ MB
None
           Column 1  AveragePrice  Total Volume          4046          4225  \
count  18254.000000  18254.000000  1.825300e+04  1.825200e+04  1.825300e+04
mean      24.228060      1.406073  8.504609e+05  2.929605e+05  2.950905e+05
std       15.480994      0.402668  3.453189e+06  1.264891e+06  1.203996e+06
min        0.000000      0.440000  8.456000e+01  0.000000e+00  0.000000e+00
25%       10.000000      1.100000  1.084277e+04  8.544900e+02  3.006890e+03
50%       24.000000      1.370000  1.073061e+05  8.640940e+03  2.905471e+04
75%       38.000000      1.660000  4.329238e+05  1.109857e+05  1.500448e+05
max       52.000000      3.250000  6.250565e+07  2.274362e+07  2.047057e+07

               4770    Total Bags    Small Bags    Large Bags    XLarge Bags  \
count  1.825300e+04  1.825300e+04  1.825200e+04  1.825200e+04   18253.000000
mean   2.283481e+04  2.395890e+05  1.821666e+05  5.432919e+04    3105.745759
std    1.074528e+05  9.861401e+05  7.461204e+05  2.439469e+05   17691.015569
min    0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00       0.000000
25%    0.000000e+00  5.090410e+03  2.852128e+03  1.273700e+02       0.000000
50%    1.849900e+02  3.973703e+04  2.634000e+04  2.646115e+03       0.000000
75%    6.237960e+03  1.107744e+05  8.333329e+04  2.199632e+04     132.230000
max    2.546439e+06  1.937313e+07  1.338459e+07  5.719097e+06  551693.650000

               year
count  18254.000000
mean    2016.142161
std        1.254196
min     1904.000000
25%     2015.000000
50%     2016.000000
75%     2017.000000
max     2018.000000
region
WestTexNewMexico       340
Albany                 338
BaltimoreWashington    338
Boise                  338
Boston                 338
Atlanta                338
California             338
Charlotte              338
Chicago                338
CincinnatiDayton       338
Columbus               338
DallasFtWorth          338
Denver                 338
Detroit                338
GrandRapids            338
GreatLakes             338
HarrisburgScranton     338
HartfordSpringfield    338
Houston                338
Indianapolis           338
Jacksonville           338
BuffaloRochester       338
LasVegas               338
LosAngeles             338
MiamiFtLauderdale      338
Louisville             338
Nashville              338
NewOrleansMobile       338
NewYork                338
Midsouth               338
NorthernNewEngland     338
Orlando                338
Philadelphia           338
PhoenixTucson          338
Pittsburgh             338
Plains                 338
Portland               338
Northeast              338
RaleighGreensboro      338
RichmondNorfolk        338
Sacramento             338
Roanoke                338
SanFrancisco           338
Seattle                338
SouthCarolina          338
SanDiego               338
SouthCentral           338
Southeast              338
StLouis                338
Spokane                338
Syracuse               338
Tampa                  338
TotalUS                338
West                   338
Name: count, dtype: int64
type
organic         9127
conventional    9126
Name: count, dtype: int64
year
2017    5722
2016    5616
2015    5615
2018    1300
1904       1
Name: count, dtype: int64

1.2 Write Python code to check for duplicate rows and missing values in the dataset. Show the number of duplicates and missing values for each column. Then, explain (in comments or markdown) how you would handle these issues (e.g., drop, impute, or replace).

In [8]:
# Write your code here
# There were no duplicates, however there was some missing values. Because the dataset is huge, the best way of handling them for me would be dropping them.
df.duplicated().sum()
df.isnull().sum()
df = df.dropna()

1.3 Use Python code to print the number of rows and columns in the dataset (e.g., with df.shape). Based on the dataset size, explain (briefly) whether you think the dataset is sufficient for training a machine learning model.

In [19]:
# The dataset is still really big even after dropping missing values, and as a result, I believe is sufficient for training a machine learning model.

df = df.dropna()
df.shape

(18252, 14)

#2. Data Cleaning and Preprocessing

2.1 Remove the first column or “Column 1” from the dataset. Treat the ‘year’ variable as nominal.

In [25]:
# Write your code here
df['year'] = df['year'].astype('category')
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18252 entries, 0 to 18253
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          18252 non-null  object
 1   AveragePrice  18252 non-null  float64
 2   Total Volume  18252 non-null  float64
 3   4046          18252 non-null  float64
 4   4225          18252 non-null  float64
 5   4770          18252 non-null  float64
 6   Total Bags    18252 non-null  float64
 7   Small Bags    18252 non-null  float64
 8   Large Bags    18252 non-null  float64
 9   XLarge Bags   18252 non-null  float64
 10  type          18252 non-null  object
 11  year          18252 non-null  category
 12  region        18252 non-null  object
dtypes: category(1), float64(9), object(3)
memory usage: 2.3+ MB

2.2 Check for duplicate values and remove them.

In [30]:
# Write your code here
df.duplicated().sum() == 0

np.True_

2.3 Check for missing values. If a data record (row) only has a few missing values, replace the missing values with the median of the column feature in that specific “Region” variable. If most column values in a data record are missing, remove the data record.

In [33]:
# Write your code here
df.isnull().sum().sum() == 0

np.True_

2.4 Find the correlation between the variables and describe how the correlated values among the variables impact the model accuracy.

In [37]:
# Write your code here
corr = df.corr(numeric_only=True)
corr
# The variables do not necessarily impact the model accuracy, however because the volumes are similiar, it means it may be hard to interpret

,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags
AveragePrice,1.000000,-0.192760,-0.208324,-0.172937,-0.179452,-0.177096,-0.174738,-0.172948,-0.117598
Total Volume,-0.192760,1.000000,0.977863,0.974181,0.872203,0.963047,0.967238,0.880640,0.747158
4046,-0.208324,0.977863,1.000000,0.926110,0.833390,0.920057,0.925280,0.838645,0.699378
4225,-0.172937,0.974181,0.926110,1.000000,0.887855,0.905788,0.916031,0.810016,0.688809
4770,-0.179452,0.872203,0.833390,0.887855,1.000000,0.792315,0.802733,0.698472,0.679862
Total Bags,-0.177096,0.963047,0.920057,0.905788,0.792315,1.000000,0.994335,0.943009,0.804233
Small Bags,-0.174738,0.967238,0.925280,0.916031,0.802733,0.994335,1.000000,0.902589,0.806845
Large Bags,-0.172948,0.880640,0.838645,0.810016,0.698472,0.943009,0.902589,1.000000,0.710859
XLarge Bags,-0.117598,0.747158,0.699378,0.688809,0.679862,0.804233,0.806845,0.710859,1.000000

#3. Exploratory Data Analysis (EDA)

3.1 Describe the variables
- Describe all variables in the dataset.
- For continuous variables: report **range (min, max), mean, median, and distribution**.
- For categorical variables: list unique values.

In [39]:
# Write your code here
# The dataset has continous variables, being AveragePrice, TotalVolume, 4046,4225,4770, and the bag ones. The categorical variables are region, type and year.
df.describe()
df['region'].unique()
df['type'].unique()
df['year'].unique()

[2015, 2016, 2017, 2018, 1904]
Categories (5, int64): [1904, 2015, 2016, 2017, 2018]

3.2 Inspect the earliest recorded date
- Find the earliest `Date`.
- Check if there are avocado prices recorded from the earliest date up to 2010.
- Comment: does the earliest data point look reasonable? Keep or remove?

In [44]:
# It does not look reasonable, it is from 1904 while the rest are above 2010. Remove
df['Date'].min()
df[df['Date'].dt.year < 2010]

,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
18250,1904-01-21,1.87,13766.76,1191.92,2452.79,727.94,9394.11,9351.8,42.31,0.0,organic,1904,WestTexNewMexico

3.3 Highest average price
- Find the highest value in "AveragePrice".
- Report which region it belongs to.
- Describe how you obtained the result.

In [45]:
# The highest Value in AVGPrice is 3.25. The region it belongs to is San Francisco. I got the result by finding the max value and returns the row info.
df.loc[df['AveragePrice'].idxmax()]

Date            2016-10-30 00:00:00
AveragePrice                   3.25
Total Volume               16700.94
4046                        2325.93
4225                       11142.85
4770                            0.0
Total Bags                  3232.16
Small Bags                  3232.16
Large Bags                      0.0
XLarge Bags                     0.0
type                        organic
year                           2016
region                 SanFrancisco
Name: 14125, dtype: object

3.4 Highest total volume
- Find the highest total volume of avocados.
- Report which region it belongs to.
- Describe how you obtained the result.

In [46]:
# The highest Volume is 62505646.52. It velongs to TotalUS. I found it using the same way as 3.3, I find the max value in total volume and return the row.
df.loc[df['Total Volume'].idxmax()]

Date            2018-02-04 00:00:00
AveragePrice                   0.87
Total Volume            62505646.52
4046                     21620180.9
4225                    20445501.03
4770                     1066830.22
Total Bags              19373134.37
Small Bags               13384586.8
Large Bags               5719096.61
XLarge Bags               269450.96
type                   conventional
year                           2018
region                      TotalUS
Name: 9097, dtype: object